.App {
  text-align: center;

  margin-bottom: 3.67cm;
  font-family: "Heebo", sans-serif;
  max-width: 900px;
}
.mishna {
  margin-right: 5cm;
  margin-left: 1.9cm;
  margin-bottom: 40px;
  text-align: right;
}
.t4mLogo {
  margin-right: 5cm;
}
h2 {
  text-decoration: underline;
  font-size: large;
}
h1 {
  margin: 0px;
  padding: 0px;
  height: 16px;
  font-size: 40px;
}
.heading {
  margin-right: 4cm;
  display: flex;
  justify-content: space-evenly;
}

.formPage {
  display: grid;
}

.formTitle {
  display: flex;
  flex-direction: column;
}
.button {
  margin-top: 20px;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  background-color: antiquewhite;
  border-radius: 20px;
  text-decoration: none;
}
#genbutton {
  margin-left: 400px;
}
